<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>web-forum</display-name>
  <welcome-file-list>
    <welcome-file>LoadIndexServlet</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddNewSubForumServlet</display-name>
    <servlet-name>AddNewSubForumServlet</servlet-name>
    <servlet-class>servlets.AddNewSubForumServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>LikeDislikeCommentServlet</display-name>
    <servlet-name>LikeDislikeCommentServlet</servlet-name>
    <servlet-class>servlets.LikeDislikeCommentServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>LikeDislikeTopicServlet</display-name>
    <servlet-name>LikeDislikeTopicServlet</servlet-name>
    <servlet-class>servlets.LikeDislikeTopicServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>DeleteSavedTopicServlet</display-name>
    <servlet-name>DeleteSavedTopicServlet</servlet-name>
    <servlet-class>servlets.DeleteSavedTopicServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>DeleteMessageServlet</display-name>
    <servlet-name>DeleteMessageServlet</servlet-name>
    <servlet-class>servlets.DeleteMessageServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>LoadIndexServlet</display-name>
    <servlet-name>LoadIndexServlet</servlet-name>
    <servlet-class>servlets.LoadIndexServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <description></description>
    <display-name>AddNewTopicServlet</display-name>
    <servlet-name>AddNewTopicServlet</servlet-name>
    <servlet-class>servlets.AddNewTopicServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>AddNewCommentServlet</display-name>
    <servlet-name>AddNewCommentServlet</servlet-name>
    <servlet-class>servlets.AddNewCommentServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>SendAlertToAuthorServlet</display-name>
    <servlet-name>SendAlertToAuthorServlet</servlet-name>
    <servlet-class>servlets.SendAlertToAuthorServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>SendAlertToReporterServlet</display-name>
    <servlet-name>SendAlertToReporterServlet</servlet-name>
    <servlet-class>servlets.SendAlertToReporterServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>AddNewMessageServlet</display-name>
    <servlet-name>AddNewMessageServlet</servlet-name>
    <servlet-class>servlets.AddNewMessageServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>DeleteSubForumServlet</display-name>
    <servlet-name>DeleteSubForumServlet</servlet-name>
    <servlet-class>servlets.DeleteSubForumServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>DeleteCommentFromReportServlet</display-name>
    <servlet-name>DeleteCommentFromReportServlet</servlet-name>
    <servlet-class>servlets.DeleteCommentFromReportServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>DeleteTopicServlet</display-name>
    <servlet-name>DeleteTopicServlet</servlet-name>
    <servlet-class>servlets.DeleteTopicServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>DeleteCommentServlet</display-name>
    <servlet-name>DeleteCommentServlet</servlet-name>
    <servlet-class>servlets.DeleteCommentServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>OpenSubForumServlet</display-name>
    <servlet-name>OpenSubForumServlet</servlet-name>
    <servlet-class>servlets.OpenSubForumServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>OpenTopicServlet</display-name>
    <servlet-name>OpenTopicServlet</servlet-name>
    <servlet-class>servlets.OpenTopicServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>OpenCommentServlet</display-name>
    <servlet-name>OpenCommentServlet</servlet-name>
    <servlet-class>servlets.OpenCommentServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>FollowSubForumServlet</display-name>
    <servlet-name>FollowSubForumServlet</servlet-name>
    <servlet-class>servlets.FollowSubForumServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>SaveTopicServlet</display-name>
    <servlet-name>SaveTopicServlet</servlet-name>
    <servlet-class>servlets.SaveTopicServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>SaveMessageServlet</display-name>
    <servlet-name>SaveMessageServlet</servlet-name>
    <servlet-class>servlets.SaveMessageServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ChangeUserServlet</display-name>
    <servlet-name>ChangeUserServlet</servlet-name>
    <servlet-class>servlets.ChangeUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>SendReportServlet</display-name>
    <servlet-name>SendReportServlet</servlet-name>
    <servlet-class>servlets.SendReportServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>EditCommentServlet</display-name>
    <servlet-name>EditCommentServlet</servlet-name>
    <servlet-class>servlets.EditCommentServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>EditTopicServlet</display-name>
    <servlet-name>EditTopicServlet</servlet-name>
    <servlet-class>servlets.EditTopicServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>servlets.SearchServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ReplyCommentServlet</display-name>
    <servlet-name>ReplyCommentServlet</servlet-name>
    <servlet-class>servlets.ReplyCommentServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>UnsubscribeSubForumServlet</display-name>
    <servlet-name>UnsubscribeSubForumServlet</servlet-name>
    <servlet-class>servlets.UnsubscribeSubForumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewSubForumServlet</servlet-name>
    <url-pattern>/AddNewSubForumServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddNewCommentServlet</servlet-name>
    <url-pattern>/AddNewCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoadIndexServlet</servlet-name>
    <url-pattern>/LoadIndexServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddNewTopicServlet</servlet-name>
    <url-pattern>/AddNewTopicServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteSubForumServlet</servlet-name>
    <url-pattern>/DeleteSubForumServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteTopicServlet</servlet-name>
    <url-pattern>/DeleteTopicServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteCommentServlet</servlet-name>
    <url-pattern>/DeleteCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OpenSubForumServlet</servlet-name>
    <url-pattern>/OpenSubForumServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OpenTopicServlet</servlet-name>
    <url-pattern>/OpenTopicServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OpenCommentServlet</servlet-name>
    <url-pattern>/OpenCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FollowSubForumServlet</servlet-name>
    <url-pattern>/FollowSubForumServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveTopicServlet</servlet-name>
    <url-pattern>/SaveTopicServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeUserServlet</servlet-name>
    <url-pattern>/ChangeUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddNewMessageServlet</servlet-name>
    <url-pattern>/AddNewMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendReportServlet</servlet-name>
    <url-pattern>/SendReportServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditCommentServlet</servlet-name>
    <url-pattern>/EditCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditTopicServlet</servlet-name>
    <url-pattern>/EditTopicServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteCommentFromReportServlet</servlet-name>
    <url-pattern>/DeleteCommentFromReportServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendAlertToAuthorServlet</servlet-name>
    <url-pattern>/SendAlertToAuthorServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendAlertToReporterServlet</servlet-name>
    <url-pattern>/SendAlertToReporterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReplyCommentServlet</servlet-name>
    <url-pattern>/ReplyCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteSavedTopicServlet</servlet-name>
    <url-pattern>/DeleteSavedTopicServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LikeDislikeCommentServlet</servlet-name>
    <url-pattern>/LikeDislikeCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LikeDislikeTopicServlet</servlet-name>
    <url-pattern>/LikeDislikeTopicServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteMessageServlet</servlet-name>
    <url-pattern>/DeleteMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UnsubscribeSubForumServlet</servlet-name>
    <url-pattern>/UnsubscribeSubForumServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveMessageServlet</servlet-name>
    <url-pattern>/SaveMessageServlet</url-pattern>
  </servlet-mapping>
</web-app>